.card-project{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7c5e99;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0 #fff;
}

.card-project .logo{
    width: 280px;
    height: 280px;
}
