.main-section{
    background-color: #02A9F7;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #01303F;
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.-black{
    background-color: #000; 
    border-color: #02A9F7;
}

.main-section.-blue{
    background-color: #02577A;
}