.main-form{
    background-color: #3A4042;
    padding: 50px 40px;
    border-bottom: 5px solid #02A9F7;
}

.main-form .main-title{
    margin-bottom: 50px;
}

.main-form .main-input{
    margin-bottom: 20px;
}

.main-form .main-input.-textarea{
    margin-bottom: 40px;
}