.progress-bar{
    box-sizing: border-box;
    background-color: #D4F0FC;
    border: 5px solid #000;
    height: 40px;
}

.progress-bar::-webkit-progress-bar,
.progress-bar::-moz-progress-bar{
    background-color: #02577A;
}