.wrapper-skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-skill .skill-music{
    width: 430px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.skill-music .progress-bar{
    width: 320px;
}